body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  .container{
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    max-width: 1120px;
  }
  .MuiPaper-root-2.MuiPaper-elevation1-5.MuiPaper-rounded-3.MuiCard-root-1 {
    margin-bottom: 1rem;
  }
  @media only screen and (max-width: 1200px){
    .container{
      padding: 0 36px;
    }  
  }
  @media only screen and (max-width: 360px){
    .container{
      padding: 0 8px;
    }  
  }